/.DS_Store
/.fleet
/.idea
/.nova
/.vscode
/.zed
/.phpunit.cache
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
.env
.env.*
/auth.json
npm-debug.log
yarn-error.log
/storage/logs/*.log
/storage/*.key
/storage/pail
/storage/debugbar
/public/storage
/public/hot
/storage/framework/cache/*
/storage/framework/views/*
/storage/framework/sessions/*
/node_modules
/public/build
/vendor
/docker-compose.override.yml
/docker-data/